* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  background-color: #1f1f1f;
  /* background-color: #848484; */
}

#root {
  display: flex;
  margin-top: 30dvh;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: 700 !important;
}

.loading {
  /* background-color: #009159; */
  width: 2.28rem !important;
  height: 2.28rem !important;
  margin: 0 1.61rem;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 20px !important;
  }
}
